{{> header }}
{{> navbar}}
<div class="container">
<div class="row">
    <div class="col-8">
        <h1>About</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/test-image.jpeg" class="img-thumbnail" alt="">
    </div>
</div>
</div>
{{> footer}}